{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/login.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/login_form.css">
{% endblock %}
{% block title %}登陆到WeDicuss{% endblock %}

{% block header %}
{% endblock %}

{% block middle %}

<div id="div_login_middle">
    {% block sidebar %}
    {% endblock %}

    {% block main %}

    <div id="div_login_main">
        <form action = "/login_auth/" method="post" id="div_signup_login">{% csrf_token %}
        {{login_form}}
        </form>
        {% if error %}
            <p>用户名或密码有误！</p>
        {% endif %}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}