{% extends "base.html" %}

{% load staticfiles %}

{% block title %}登陆到WeDicuss{% endblock %}

{% block style_base %}
<link rel="stylesheet" type="text/css" href={% static "css/base.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/login.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/login_form.css" %}>
{% endblock %}



{% block header %}
{% endblock %}

{% block body_base %}

<div id="div_login_middle">

    {% block main %}

    <div id="div_login_main">
        <form action = "/login_auth/" method="post" id="div_signup_login">{% csrf_token %}
        {{login_form}}
        </form>
        {% if error %}
            <p>用户名或密码有误！</p>
        {% endif %}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block footer_base %}
{% endblock %}