{% extends "base.html" %}

{% load staticfiles %}


{% block title %}登陆到WeDicuss{% endblock %}

{% block style_base %}
<link rel="stylesheet" type="text/css" href={% static "css/base.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/welcome.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/login_form.css" %}>
{% endblock %}


{% block header %}
<div id="div_login_header">

    <img src={% static "images/login_head.png" %} alt="WeDicuss" id="login_head_img">
</div>
{% endblock %}

{% block body_base %}

<div id="div_login_middle">
    {% block sidebar %}
    <div id="div_login_sidebar">
        <img src={% static "images/longin_side.png" %}>
    </div>
    {% endblock %}

    {% block main %}
    <div id="div_login_main">
        <form action = "account/login/" method="post" id="div_signup_login">{% csrf_token %}
        {{login_form}}
        </form>
    </div>
    {% endblock %}
</div>
{% endblock %}