<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {% block link %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div id="page">
    {% block header %}

    {% endblock %}

    {% block middle %}
        {% block sidebar%}{% endblock %}
        {% block main %}{% endblock %}
    {% endblock %}

    {% block footer%}
    <div id="div_login_footer">
        <p>copyright &copy; 2014 WeDicuss,llc,all rights reserved.</p>
    </div>
    {% endblock %}
    </div>


</body>
</html>