{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/login_page.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/login_form.css">
{% endblock %}
{% block title %}登陆到WeDicuss{% endblock %}

{% block header %}
<div id="div_login_header">

    <img src="/static/images/login_head.png" alt="WeDicuss" id="login_head_img">
</div>
{% endblock %}

{% block middle %}

<div id="div_login_middle">
    {% block sidebar %}
    <div id="div_login_sidebar">
        <img src="/static/images/longin_side.png">
    </div>
    {% endblock %}

    {% block main %}
    <div id="div_login_main">
        {{login_form}}
    </div>
    {% endblock %}
</div>
{% endblock %}