{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/main_frame.css">
{% endblock %}

{% block title %}WeDicuss{% endblock %}

{% block header %}
<div id="div_main_header">
    <p>hello! {{ username }},欢迎来到wedicuss</p>
    <a href="/logout/">退出登录</a>
</div>
{% endblock %}

{% block middle %}
<div id="div_main_middle">

    {% block sidebar %}
        <div id="div_main_sidebar">

        </div>
    {% endblock %}

    {% block main %}
        <div id="div_main_main">

        </div>
    {% endblock %}
</div>
{% endblock %}