#div_page{
    width: 900px;
    margin: 0px auto;
    background-color: white;
}

body{
    /*background-image:url("/static/images/back_ground.jpg");*/
    background-color: #BBFFEE;
    background-position:center; 
    background-repeat:no-repeat;
}

footer{
    #border-top: 4px #BBFFEE solid;
    clear: both;
    height: 50px;
    text-align: center;
}