#div_body_left{
    height:600px;
    width: 150px;
    /*margin-top: 18px;*/
    border-right: 1px #888888 solid;
    float: left;
}

#div_body_middle{
    height:600px;
    width: 550px;
    /*margin-top: 18px;*/
    border-right: 1px #888888 solid;
    float: left;
}

#div_body_right{
    height:600px;
    width: 150px;
    /*margin-top: 18px;*/
    /*border-top: 5px #BBFFEE solid;*/
    float: left;
}
