#div_login_header{
    height:200px;
    margin-bottom: 18px;
    width: 100%;
    border-bottom: 5px #BBFFEE solid;
}

#login_head_img{
    width:900px;
    height:200px;
}


#div_login_middle{
    width: 100%;
}
    #div_login_sidebar{
        width:600px;
        float:left;
    }

    #div_login_main{
        width:280px;
        float: left;
        padding-top: 100px;
        text-align: right;
        height:160px;
        border-left: 2px #BBFFEE solid;
        /*background:url("/static/images/login_main_bkg.png");*/
    }

#div_login_footer{
    border-top: 4px #BBFFEE solid;
    clear: both;
    text-align: center;
}