<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>
            {% block title_base %}
                {% block title %}{% endblock %}
            {% endblock %}
        </title>

        {% block style_base %}
            {% block style %}{% endblock %}
            {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <div id="div_page">
        {% block header %}
            <div id="div_header">
            {% block topbar %}
                <div id="div_site_brand">
                {% block site_brand %}
                {% endblock %}
                </div>
                
                <div id="div_hor_nav">
                {% block hor_nav %}
                {% endblock %}
                
                {% block account_bar %}
                {% endblock %}
                </div>
            {% endblock %}

            </div>
            <hr/>  
        {% endblock %}

        {% block body_base %}
        <div id = "div_body">
            {% block body %}
            {% endblock %}
        </div>
        {% endblock %}

        {% block footer_base %}
            <footer>
                <div id="div_footer">
                    <hr />
                    {% block footer %}
                    <p>copyright &copy; 2014 WeDicuss,llc,all rights reserved.</p>
                    {% endblock %}
                </div>
            </footer>
        {% endblock %}

        {% block script_base %}
            {% block extra_script %}{% endblock %}
        {% endblock %}
        </div>


    </body>
</html>